body {
  height: 100%;
  color:orange;
}

p{
  color: black;
}

nav {
  background-color: #264653;
  margin-bottom: 30px;
}

.navbar-brand {
  Color: #f4a261;
  font-style: oblique;
  font-weight: 900;
  font-size: 35px;
}


#minibar {
  Color: #f4a261;
  font-style: oblique;
  font-weight: 900;
  font-size: 15px;
  text-align: center;
}

#apiBar {
  background-color: #2a9d8f;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.col-lg-12 {
  background-color: white;
  padding: 0%
}

#footerBody{
  background-color: #264653;
}
#cardContainer{
  background-color: #e9c46a;
}


.tempInfo{
  text-align: center;
  text-decoration-line: underline;
  Color: #f4a261;
  font-style: oblique;
  font-weight: 700;
}

.nameCity{
  text-align: center;
  color:#264653;
  font-weight: 900;
  font-style: oblique;
}

.buttonStyle{
  background-color:#f4a261;
  color:#264653;
  font-weight: bolder;
}

.labelstyle{
  color:white
}

#contactForm{
  background-color: white;
  padding: 0%;
  border-radius: 13px;
}

#formPadding{
  padding:5px;
}

#formSubmit{
  margin: 5px;
  float: right;
}

.event-info{
  padding:5px;
  text-align: center;
  Color: #f4a261;
  font-style: oblique;
  font-weight: 700;
}