body {
  height: 100%;
  color:orange;
}

p{
  color: black;
}

nav {
  background-color: #264653;
  margin-bottom: 30px;
}

.navbar-brand {
  Color: #f4a261;
  font-style: oblique;
  font-weight: 900;
  font-size: 35px;
}


#minibar {
  Color: #f4a261;
  font-style: oblique;
  font-weight: 900;
  font-size: 15px;
  text-align: center;
}

#apiBar {
  background-color: #2a9d8f;
}

.col-lg-12 {
  background-color: white;
  padding: 0%
}

#footerBody{
  background-color: #264653;
}
#cardContainer{
  background-color: #e9c46a;
}

.buttonStyle{
  background-color:#f4a261;
  color:#264653;
  font-weight: bolder;
}

.labelstyle{
  color:white
}